In [34]:
import pandas as pd
pd.set_option('display.max_rows', 1000)
import datetime

In [29]:
bnb = pd.read_csv('data/bnbClean.csv')

In [30]:
bnb

,Unnamed: 0,id,name,host id,host name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number of reviews (total),last review (date),reviews per month,floor,noise.dB.,price
0,1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,73.97237,Private room,1,9,2018-10-19 00:00:00,0.21,1,69.056465,149.0
1,2,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,73.98377,Entire home/apt,1,45,2019-05-21 00:00:00,0.38,1,56.054278,225.0
2,3,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,73.94190,Private room,3,0,NaN,0.00,1,56.054278,150.0
3,4,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,73.95976,Entire home/apt,1,270,2019-07-05 00:00:00,4.64,1,69.056465,89.0
4,5,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,73.94399,Entire home/apt,10,9,2018-11-19 00:00:00,0.10,1,56.054278,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39113,39114,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford,40.67853,73.94995,Private room,2,0,NaN,0.00,1,69.056465,70.0
39114,39115,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,73.93317,Private room,4,0,NaN,0.00,1,69.056465,40.0
39115,39116,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,73.94867,Entire home/apt,10,0,NaN,0.00,1,56.054278,115.0
39116,39117,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,73.99112,Shared room,1,0,NaN,0.00,1,56.054278,55.0
39117,39118,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,73.98933,Private room,7,0,NaN,0.00,1,56.054278,90.0

In [31]:
bnb.isna().sum()

Unnamed: 0                      0
id                              0
name                            0
host id                         0
host name                       0
neighbourhood group             0
neighbourhood                   0
latitude                        0
longitude                       0
room and type                   0
minimum nights                  0
number of reviews (total)       0
last review (date)           7978
reviews per month               0
floor                           0
noise.dB.                       0
price                           0
dtype: int64

In [37]:
bnb['last review (date)'].fillna(datetime.min_value,inplace=True)

AttributeError: module 'datetime' has no attribute 'min_value'

In [27]:
bnb['last review (date)']

0        2018-10-19 00:00:00
1        2019-05-21 00:00:00
2
3        2019-07-05 00:00:00
4        2018-11-19 00:00:00
                ...
39113
39114
39115
39116
39117
Name: last review (date), Length: 39118, dtype: object